@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sansita Swashed', cursive;
  line-height: 150%;
  /* justify-content: center; */
}

body {
  background-color: #fff;
}

h1, h2, h3 {
  /* line-height: 200%; */
}

button {
  font-size: 1rem;
  border: none;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  background-color: rgb(102, 37, 139);
  color: #fff;
  /* font-family: 'Open Sans', sans-serif; */
}

.title, .search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.random-button{
  margin-left: 16px;
}

.colorful-button {
  background-image: linear-gradient(45deg, #00dbde 0%, #fc00ff 100%);
}

.search-button {
  margin-left: 2px;
}

.search-bar {
  border: none;
  background-color: rgb(236, 224, 243);
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
  width: 300px;
}

.recipe-section {
  /* padding: 100px 0 160px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: #fafafa; */
}